.row2{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.topPerformer{
    padding: 10px;
    box-shadow: 0 0 10px 5px #d2d2d4 ;
      border-radius: 10px;
      text-align: center;
      display: flex;
      
}

.uploadFile{
    padding: 10px;
    box-shadow: 0 0 10px 5px #d2d2d4 ;
    border-radius: 10px;
   align-items: center;
    display: flex;
}

.totalBen{
    padding: 10px;
    box-shadow: 0 0 10px 5px #d2d2d4 ;
      border-radius: 10px;
      text-align: center;
      display: flex;
      
}

.totalFood{
    padding: 10px;
    box-shadow: 0 0 10px 5px #d2d2d4 ;
      border-radius: 10px;
      text-align: center;
      display: flex;
      
}